
/* Style the tab */

.tab {
    overflow: hidden;
    
}

/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    font-family: 'Comfortaa', cursive;
    
}

h1, h3 {
    text-align: center;
}

#Home{
    background: linear-gradient(
        rgba(240,248,255,0.9),
        rgba(135,206,250,2)
        
    )
}

.carousel {
    background: #2f4357;
    margin-top: 20px;
}

.carousel .item {
    max-height: 900px;
    /* Prevent carousel from being distorted if for some reason image doesn't load */
}

.carousel .item img {
    margin: 0 auto;
    /*Align slide image horizontally center */
    width: 100%;
}

.ecosia-images {
    margin: 20px;
}


#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#slogan{
    font-size:150%;
    text-align: center;
}

#Intro{
    font-size:130%;
    background: linear-gradient(
        rgba(135,206,250,0.9),
        rgba(152,251,152,0.9)
    )

}

#tree-hand {
    margin-left: 10%
}

#earth{
    margin-left:10%;
}


@media(min-width:1200px) {
    #tree-hand {
        margin-top: 30%;
        width: 100%;
        height: 100%;
        float:right;

    }

    #earth {
        margin-bottom: 20%;
        height: 120%;
        width:120%;
        float:left;
        margin-top:10%;
    }
}

#Forest {
    font-size: 25px;
    text-align: center;
    background: linear-gradient( 
    rgba(152,251,152, 0.5),
    rgba(222,184,135, 0.7))
}

@media(min-width:0px){
     #f2, #f3{
        width:50%;
        height:50%;
        margin-left:0%;
    }
}
@media(min-width:768px){
    #f2, #f3{
        width:50%;
        height:50%;
        margin-left:0%;
    }
}

@media(min-width:992px){
    #f2, #f3{
        margin-left:0%;
        width:50%;
        height:50%;
    }
}

@media(min-width: 1200px){
    #f2{
        /*margin-left:5%;*/
        width: 100%;
        height: 100%;
    }
    
    #f3{
        width: 100%;
        height: 100%;
        margin-top:8%;
    }
    
    #Forest{
        font-size: 17px;
    }
}

#Ecosia {
    background: linear-gradient( 
    rgba(0, 0, 200, 0.5),
    rgba(0, 0, 200, 0.6)),
    url('images/tree-with-hand.png') no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 25px;
}


@media(min-width:992px) {
    #ecosia-logo {
        width: 50%;
        height: 50%;
    }
}

@media(min-width:1200px) {
    #ecosia-logo {
        margin-left: 85%;
        width: 150%;
        height: 150%;
    }
    
}

@media screen and (min-width: 992px) {
    #Ecosia {
        background-image: none;
        color: black;
        background-color: #99EFC4
    }

}

@media(max-width: 992px) {
    .img-rounded-hidden-md-down {
        display: none;

    }

}


.jumbotron {
    font-size: 150%;
}

footer {
    font-size: 120%;
}


#FAQ{
    color:black;
    font-size:20px;
    
    /*background: linear-gradient(*/
    /*    rgba(135,206,250,0.9),*/
    /*    rgba(152,251,152,0.5)*/
    /*)*/
    
    background: linear-gradient( 
    rgba(152,251,152, 0.5),
    rgba(222,184,135, 0.7))
   
}

#tree-future{
    margin-left:30%;
}

@media(min-width:1200px){
   #tree-future{
       margin-left:0;
    
    } 
}


#Contact{
   /*background: linear-gradient( */
   /*rgba(135, 206, 250, 0.9),*/
   /* rgba(152, 251, 152, 0.5)) */
    text-align: center;
    font-size:25px;
   background: linear-gradient( 
    rgba(152,251,152, 0.5),
    rgba(222,184,135, 0.7))
}

#logo:hover{
    transform: rotateY(180deg);
}




